<div [formGroup]="stepItemFormgroup">
  <mat-card class="example-card" *ngIf="step">
    <img mat-card-image src="assets/images/placeholder.png">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Naam</mat-label>
        <input matInput placeholder="name" formControlName="Naam" (change)="updateStep($event)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tekst</mat-label>
        <textarea matInput formControlName="text" placeholder="Tekst" (change)="updateStep($event)" rows="6"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
