<div [formGroup]="itemForm" class="ingredient-form">
  <mat-form-field class="amount">
    <mat-label>Hoeveelheid</mat-label>
    <input matInput placeholder="Hoeveelheid" formControlName="amount" id="amount" (change)="updateIngredient($event)">
  </mat-form-field>
  <mat-form-field class="unit">
    <input type="text" placeholder="Eenheid" matInput formControlName="unit"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUnit()">
      <mat-option *ngFor="let unit of filteredOptions | async" [value]="unit" (onSelectionChange)="updateUnit(unit)">
        {{unit.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="name">
    <mat-label>Naam</mat-label>
    <input matInput placeholder="Naam" formControlName="ingredient" (change)="updateIngredient($event)"
           (keyup.tab)="addItem.next()">
  </mat-form-field>
</div>
