<form [formGroup]="form" (ngSubmit)="submitForm()" class="container">
  <div class="head">
    <div class="name">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Naam">
      </mat-form-field>
    </div>
  </div>
  <div class="grid">
    <mat-divider></mat-divider>
      <div class="one-fourth">
        <mat-list>
          <mat-list-item
            *ngFor="let recipe of mealPlan.recipes"
            (click)="removeRecipeFromMealPlan(recipe)"
          >
            <app-overview-item [recipe]="recipe"></app-overview-item>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="three-fourth list-overview container top-spacing">
        <app-overview-item
          class="list-item clickable"
          *ngFor="let recipe of filteredRecipes"
          [recipe]="recipe"
          (click)="addRecipeToMealPlan(recipe)"
        >
        </app-overview-item>
      </div>
    </div>
  <eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
      <button mat-fab color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>
  </eco-fab-speed-dial>
</form>
