<div [formGroup]="ingredientItemForm" class="ingredient-form">
  <mat-form-field class="amount">
    <mat-label>Hoeveelheid</mat-label>
    <input matInput placeholder="Hoeveelheid" formControlName="amount" id="amount" (change)="updateIngredient($event)">
  </mat-form-field>
  <mat-form-field class="unit">
    <mat-label>Eenheid</mat-label>
    <input matInput placeholder="Eenheid" formControlName="unit" (change)="updateIngredient($event)">
  </mat-form-field>
  <mat-form-field class="name">
    <mat-label>Naam</mat-label>
    <input matInput placeholder="Naam" formControlName="name" (change)="updateIngredient($event)" (keyup.tab)="addIngredient.next()">
  </mat-form-field>
</div>
