/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Roboto';
}

.mat-card-header-text {
  margin: 0;

  .mat-card-title {
    font-size: 1.3rem;
  }
}

.clickable {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.list-overview {
  display: flex;
  flex-wrap: wrap;

  .list-item {
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 10px;

    .mat-card-header-text {
      margin: 0;
    }

    mat-card {
      height: 90%;
    }

    mat-card-content {
      line-height: 1.5rem;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }

  &.columns-3 {
    flex: 1 0 calc((100% / 3 - 20px) * 2);
    max-width: calc((100% / 3 - 20px) * 2);

    .list-item {
      flex: 1 0 calc(100% / 3 - 20px);
      max-width: calc(100% / 3 - 20px);
    }
  }
}

.hidden {
  display: none;
}
